.container-fluid{
    background: rgba(0, 0, 0, 1) !important;
    overflow: auto;
}

.form-container {
    max-width: 420px;
    width: 100%;
    background: #fff;
}

.form-control {
    width: 100%;
}

.form-control:read-only{
    background: #d4d4d4 !important;
}